<div class="accordion" id="accordionExample" [@enterAnimation]>
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
          <span class="fa fa-fw fa-list"></span> User Logs <small> - Activity History</small>

          <div style="float: right;">
            <!-- <button class="btn btn-success btn-sm" data-toggle="modal" (click)="addRecord.show()" data-target="#addRecord">
              <span class="fa fa-fw fa-plus"></span> Add Client
            </button> -->
            <button class="btn btn-outline-orange btn-sm" (click)="filterRecord.show()" title="Filters and show records that aren't present in the current list">
                <span class="fa fa-filter"></span> Filter List
            </button>
            <button class="btn btn-outline-grey btn-sm" (click)="onRefreshRecords()">
              <span class="fa fa-fw fa-refresh"></span> Refresh List
            </button>
          </div>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body" style="min-height: 200px;">

          <div class="table-responsive">
            <table id="viewlist-table" class="table table-striped table-no-bordered table-hover">
              <thead>
                <tr>
                  <th class="text-center">ID</th>
                  <th>Username</th>
                  <th>Name</th>
                  <th>Activity</th>
                  <th>User Agent</th>
                  <th>IP Address</th>
                  <th class="text-center">Date</th>
                  <!-- <th class="text-center">Modified</th> -->
                  <!-- <th class="text-center">Action</th> -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let _user of user_logs" id="{{ user_logs.id }}">
                  <td class="text-center">{{ _user.id }}</td>
                  <td>{{ _user.user.username }}</td>
                  <td>{{ _user.user.first_name + ' ' + _user.user.last_name }}</td>
                  <td>{{ _user.activity }}</td>
                  <td>{{ _user.user_agent }}</td>
                  <td>{{ _user.ip_address }}</td>
                  <td class="text-center" title="{{ _user.created_at | utcLocal | date: 'EEE MMMM dd, y  hh:mm:ss a' }}">{{ _user.created_at | utcLocal | date :  "y/MM/dd" }}</td>
                  <!-- <td class="text-center" title="{{ _user.updated_at | utcLocal | date: 'EEE MMMM dd, y  hh:mm:ss a' }}">{{ _user.updated_at | utcLocal | date :  "y/MM/dd" }}</td> -->

                  <!-- <td class="text-center">
                    <button class="btn btn-sm btn-primary"  (click)="onEditRecord( _user.id )">
                      <span class="fa fa-fw fa-edit"></span> Edit
                    </button>
                    <button class="btn btn-sm btn-danger" (click)="onDelRecord(_user.id, _user.client_name, _user.logo)">
                      <span class="fa fa-fw fa-archive"></span> Archive
                    </button>
                  </td> -->
                </tr>
                <tr *ngIf="user_logs == 0">
                  <td colspan="1000" class="no-data-available">No records found so far.</td>
                </tr>
              </tbody>
            </table>
          </div>
          <ngx-loading [show]="loading"></ngx-loading>
          <span [hidden]="!loading" class="ngx-text">Fetching records . . .</span>

          <!-- SHOW THIS DIV WHEN NO RECORD FOUND INSTEAD OF AN EMPTY TABLE -->
          <div *ngIf="user_logs == 0" class="text-center" >
              <p class="no_record">
                  <i class="fa fa-exclamation"></i>
                  No records found so far.
              </p>
          </div>

      </div>
    </div>
  </div>
</div>
<br>


<!-- FILTER LIST MODAL FORM -->
<div mdbModal #filterRecord="mdb-modal"  class="modal fade" id="filterRecord" tabindex="-1" role="dialog" style="overflow: auto">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">
            <span class="fa fa-filter"></span>
            Filter Records
          </h4>
          <button type="button" id="btnCloseFilterRecord" class="close" data-dismiss="modal" (click)="filterRecord.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
  
        <div class="modal-body mx-1">

          <div>
            <div style="margin-top: 20px;">
              <div class="form-info">
  
                <ul id="custom_filter">
                  <li *ngFor="let filter of _custom_filters" [id]="filter.id" style="margin-bottom: 10px;">
                    <select class="filter_column" style="background-color: transparent; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100px;">
                      <option value="" disabled>-- Please select --</option>
                      <option *ngFor="let field of _all_fields_default" [value]="field.value">{{field.label}}</option>
                    </select>
                    <select class="filter_operator" style="background-color: transparent;">
                      <option *ngFor="let filter_op of _filter_operators" [value]="filter_op.value">{{ filter_op.label }}</option>
                    </select>
                    <input type="text" class="filter_text" style="width: 265px;">
                    <button class="close" style="color: red;" (click)="onRemoveFilter(filter.id)">
                        <span class="fa fa-fw fa-times"></span>
                    </button>
                    <div class="clear" style="height: 1px;">&nbsp;</div>
                  </li>
                </ul>
  
                <button class="btn btn-outline-orange btn-sm" (click)="onAddFilter()">
                    <span class="fa fa-fw fa-plus"></span> Add Filter
                </button>
              </div>
            </div>
          </div>
  
          <ngx-loading [show]="loading_tags"></ngx-loading>
          <span [hidden]="!loading_tags" class="ngx-text">Working . . .</span>
  
        </div>
  
        <div class="modal-footer d-flex justify-content-center">
          <button [disabled]="_custom_filters.length == 0" type="button" class="btn btn-sm btn-primary waves-light" (click)="onFilterRecords()" mdbWavesEffect>
            <i class="fa fa-check ml-1"></i>
            Apply
          </button>
  
          <button type="button" class="btn btn-sm btn-outline-grey waves-light" aria-label="Close" (click)="filterRecord.hide();" mdbWavesEffect>
            <i class="fa fa-times ml-1"></i>
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
  