<div>

    <!-- SYS ADMIN MENU HEADER -->
    <div class="menu">
      <span class="menu-item">
        <a routerLinkActive="menu_active" routerLink="list" class="cool-link">
          <span class="fa fa-user-md"></span> Admin List
        </a>
      </span>
      <!-- <span class="menu-item">
        <a routerLink="privilege" class="cool-link">
          <span class="fa fa-lock"></span> Access Privileges
        </a>
      </span> -->
      <!-- <span class="menu-item">
        <a class="cool-link">
          <span class="fa fa-times"></span> Disabled Accounts
        </a>
      </span> -->
    </div>
  
    <div class="contents">
      <router-outlet></router-outlet>
    </div>
      
  </div>
  
  