<div>

  <!-- SYS ADMIN MENU HEADER -->
  <div class="menu">
    <span class="menu-item">
      <a routerLinkActive="menu_active" routerLink="mail" class="cool-link">
        <span class="fa fa-envelope"></span> Mail Logs
      </a>
    </span>
    <span class="menu-item">
      <a routerLinkActive="menu_active" routerLink="user" class="cool-link">
        <span class="fa fa-user"></span> User Logs
      </a>
    </span>
  </div>

  <div class="contents">
    <router-outlet></router-outlet>
  </div>

</div>

