.manage-client {
    display: block;
}

.client-name {
    font-size: 18px;
    // font-weight: bold;
    color: #DE7431;
}

.manage-client p {
    margin: 0;
}

.nav-link.active {
    color: #DE7431 !important;
}

.table td, th{
  font-size: 0.8rem;
}

.table {
  margin-bottom: auto;
}

.lob-name-title {
    font-size: 14px;
    color: gray;
    margin: 0;
    margin-bottom: 5px;
    margin-top: 20px;
    font-weight: bold;
}

.btn-save-permission {
  float: none;
  margin-bottom: 5px;
  font-size: 10px;
  border: 1px solid rgba(128, 128, 128, 0.272);
  padding: 5px;
}

.input-group-append .btn-blue-grey {
  margin: 0;
  padding: 0 15px 0 15px;
  height: calc(2.25rem + 2px);
}


/******************** SLIDER CHECKBOX STYLE ********************/
.switch {
  position: relative;
  display: inline-block;
  width: 27px;
  height: 14px;
  top: 2px;
  margin-bottom: auto;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #DE7431;
}

input:disabled + .slider {
  background-color: rgb(73, 70, 70);
}

input:focus + .slider {
  box-shadow: 0 0 1px #DE7431;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.form-details {
  text-align: center;
}
