<div class="accordion" id="accordionExample" [@enterAnimation]>
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0" *ngIf="_manage_client !== null">
          <span class="fa fa-fw fa-wrench"></span> {{ _manage_client.client_name }} <small> - Manage Client</small>

          <div style="float: right;">
            <button class="btn btn-outline-grey btn-sm" data-toggle="modal" routerLink="/admin/client/list" data-target="#addRecord">
              <span class="fa fa-fw fa-arrow-left"></span> Back to Client List
            </button>
          </div>

      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body" style="min-height: 200px;">
        
          <div class="manage-client" *ngIf="_manage_client !== null">
            <img  id="img_client" src="{{ _api_endpoint + _manage_client.logo }}" style="height: 100px; width: 100px; margin-right: 10px; float: left;">

            <p class="client-name">{{ _manage_client.client_name }}
              <button class="btn btn-xs btn-outline-grey" (click)="editRecord.show(); onEditClientInfo();">
                <span class="fa fa-fw fa-edit"></span> Update
              </button>
            </p>
            <p class="footer">{{ _manage_client.description }}</p>
            <p class="footer">Client ID: {{ _manage_client.id }}</p>
            <p class="footer">Date created: {{ _manage_client.created_at | utcLocal }}</p>
            <p class="footer">Author: {{ _manage_client.creator ? _manage_client.creator.first_name + ' ' + _manage_client.creator.last_name : '' }}</p>
          </div>

          <br>

          <ul class="nav nav-tabs" id="myTab" role="tablist">

            <li class="nav-item">
              <a class="nav-link active" id="client-admin-tab" (click)="toggleTab(1)" data-toggle="tab" role="tab" aria-controls="client-admin" aria-selected="true">
                <span class="fa fa-fw fa-user-md"></span>
                Client Admins
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" id="lob-tab"  (click)="toggleTab(2)" data-toggle="tab" role="tab" aria-controls="lob" aria-selected="false">
                <span class="fa fa-fw fa-building"></span>
                Lines of Business Admins
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" id="team-tab"  (click)="toggleTab(3)" data-toggle="tab" role="tab" aria-controls="team" aria-selected="false">
                <span class="fa fa-fw fa-cubes"></span>
                Teams
              </a>
            </li>

          </ul>

          <div class="tab-content" id="myTabContent"> <!-- TAB CONTENT BEGIN -->

            <!-- CLIENT ADMINS -->
            <div *ngIf="tab_id === 1" class="tab-pane fade show active" id="client-admin" role="tabpanel" aria-labelledby="client-admin-tab"> 
              
              <br>
              <div class="">

                <div class="table-responsive">
                  <div style="float: right;">      
                    <button class="btn btn-outline-green btn-xs" data-toggle="modal" (click)="addClientAdmin.show(); onAddClientAdmin();" data-target="#addClientAdmin">
                      <span class="fa fa-fw fa-plus"></span> Add Client Admin
                    </button>
                    <button class="btn btn-outline-grey btn-xs" data-toggle="modal" (click)="onSaveClientAdminBatch()" data-target="#addClientAdmin" [disabled]="_client_admins.length === 0">
                      <span class="fa fa-fw fa-save"></span> Save Changes
                    </button>
                    <button class="btn btn-outline-grey btn-xs" (click)="onRefreshClientAdmin()">
                      <span class="fa fa-fw fa-refresh"></span> Refresh List
                    </button>
                  </div>
                  <br>
                  <table id="table_client_admin" class="table table-striped table-no-bordered table-hover">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th class="text-center">User ID</th>
                        <th class="text-center">Username</th>
                        <th class="text-center">Manage Info</th>
                        <th class="text-center">Manage LOB</th>
                        <th class="text-center">Manage Forms</th>
                        <th class="text-center">Added by</th>
                        <th class="text-center">Created</th>
                        <th class="text-center">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let _client_admin of _client_admins" id="tr_client_admin_{{ _client_admin.id }}">
                        <td [hidden]="true" class="clientAdminId">{{ _client_admin.id }}</td>
                        <td>
                          <p style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; margin-bottom: auto; min-width: 200px">
                            <span class="fa fa-fw fa-user-md" style="color: #DE7431"></span>
                            {{ _client_admin.user.first_name + ' ' + _client_admin.user.last_name }}
                          </p>
                        </td>
                        <td>{{ _client_admin.user_id }}</td>
                        <td>{{ _client_admin.user.username }}</td>
                        <td class="text-center">
                          <label class="switch">
                            <input class="chkManageInfo" type="checkbox" [checked]="_client_admin.manage_info">
                            <span class="slider round"></span>
                          </label>
                        </td>
                        <td class="text-center">
                          <label class="switch">
                            <input class="chkManageLOB" type="checkbox" [checked]="_client_admin.manage_lob">
                            <span class="slider round"></span>
                          </label>
                        </td>
                        <td class="text-center">
                          <label class="switch">
                            <input class="chkManageForms" type="checkbox" [checked]="_client_admin.manage_forms">
                            <span class="slider round"></span>
                          </label>
                        </td>
                        <td>{{ _client_admin.creator ? _client_admin.creator.first_name + ' ' + _client_admin.creator.last_name : '-' }}</td>
                        <td class="text-center" title="{{ _client_admin.created_at | utcLocal | date: 'EEE MMMM dd, y  hh:mm:ss a' }}">{{ _client_admin.created_at | utcLocal | date :  "y/MM/dd" }}</td>
                        <td class="text-center">
                          <button class="btn btn-xs btn-outline-red" (click)="onDeleteClientAdmin(_client_admin.id)">
                            <span class="fa fa-fw fa-trash"></span> Delete
                          </button>
                        </td>
                      </tr>
                      <tr *ngIf="_client_admins.length === 0">
                        <td colspan="1000" class="no-data-available">No records found so far.</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <ngx-loading [show]="loading_client_admin"></ngx-loading>
                <span [hidden]="!loading_client_admin" class="ngx-text">Working . . .</span>

              </div> 
            </div> 
            <!-- CLIENT ADMIN END-->

            <!-- LOB BEGIN-->
            <div *ngIf="tab_id === 2" id="lob" role="tabpanel" aria-labelledby="lob-tab"> 

              <div class="table-responsive">

                <div class="lob-name" *ngFor="let lob of _lobs">

                  <div class="">

                    <div class="lob-name-title">
                      <span class="fa fa-fw fa-building" style="color: #DE7431"></span>
                      <span style="color: #DE7431">
                          {{ lob.lob_name }} 

                          <button class="close" style="float: none; font-size: 10px; color: grey;" (click)="onEditLobRecord(lob.id)" title="Update this Line of Business">
                              &nbsp; <span class="fa fa-edit"></span> Edit
                          </button>

                          <button class="close" style="float: none; font-size: 10px; color: red;" (click)="onArchiveLob(lob)" title="Archive this Line of Business">
                             &nbsp; <span class="fa fa-archive"></span> Archive
                          </button>
                      </span>

                      <span style="float: right;">
                          <button type="btn" class="btn btn-xs btn-outline-green" (click)="onAddLobUserPermission(lob); addLobUser.show();">
                              <i class="fa fa-fw fa-plus"></i> Add LOB Admin
                          </button>
                          <button type="btn" class="btn btn-xs btn-outline-grey" (click)="onSaveLobUserBatchPermission(lob)" [disabled]="lob_users[lob.id].user.length === 0">
                              <i class="fa fa-fw fa-save"></i> Save Changes
                          </button>
                      
                          <button type="btn" class="btn btn-xs btn-outline-grey" (click)="onRefreshLobPermission(lob)">
                              <i class="fa fa-fw fa-refresh"></i> Refresh List                        
                          </button>
                      </span>
                    </div>

                    <table id="table_lob_users_{{lob.id}}" class="table table-striped table-no-bordered table-hover">

                      <thead>
                        <tr>
                          <th>Name</th>
                          <th class="text-center">Username</th>
                          <th class="text-center">Manage Forms</th>
                          <th class="text-center">Add Form</th>
                          <th class="text-center">Added by</th>
                          <th class="text-center">Created</th>
                          <th class="text-center">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let user of lob_users[lob.id].user" id="tr_lob_user_{{ user.id }}">
                          <td [hidden]="true" class="lobUserId">{{ user.id }}</td>
                          <td> 
                            <span class="fa fa-fw fa-user" style="color: #DE7431"></span>
                            {{ user.user.first_name + ' ' + user.user.last_name }}
                          </td>
                          <td>{{ user.user.username }}</td>
                          <td class="text-center">
                            <label class="switch">
                              <input class="chkLobManageForms" type="checkbox" [checked]="user.manage_forms">
                              <span class="slider round"></span>
                            </label>
                          </td>
                          <td class="text-center">
                            <label class="switch">
                              <input class="chkLobAddNewForm" type="checkbox" [checked]="user.add_form">
                              <span class="slider round"></span>
                            </label>
                          </td>
                          <td>{{ user.creator ? user.creator.first_name : '' }} {{ user.creator ? user.creator.last_name : '-' }}</td>
                          <td class="text-center" title="{{ user.created_at | utcLocal | date: 'EEE MMMM dd, y  hh:mm:ss a' }}">{{ user.created_at | utcLocal | date :  "y/MM/dd" }}</td>
                          <td class="text-center">
                            <button class="btn btn-xs btn-outline-red" (click)="onDeleteLobUser(user.id, lob)">
                              <span class="fa fa-fw fa-trash"></span> Delete
                            </button>
                          </td>
                        </tr>

                        <tr *ngIf="lob_users[lob.id].user.length === 0">
                          <td colspan="1000">No records found so far.</td>
                        </tr>

                      </tbody>
                      
                    </table>

                    <ngx-loading [show]="loading_lob_users[lob.id]"></ngx-loading>
                    <span [hidden]="!loading_lob_users[lob.id]" class="ngx-text">Working . . .</span>
    
                  </div> <!-- end of card -->

                </div> <!-- end of lob ngfor -->

              </div>

              <br>
              <br>

              <button class="btn btn-outline-green btn-xs" data-toggle="modal" (click)="addLobRecord.show()" data-target="#addLobRecord">
                <span class="fa fa-fw fa-plus"></span> Add New Line of Business
              </button>

              <button class="btn btn-outline-grey btn-xs" data-toggle="modal" (click)="onRefreshLobRecords()">
                <span class="fa fa-fw fa-refresh"></span> Refresh Lines of Business
              </button>

              <ngx-loading [show]="loading_lobs"></ngx-loading>
              <span [hidden]="!loading_lobs" class="ngx-text">Working . . .</span>

            </div> <!-- LOB END-->

            <!-- TEAM LIST -->
            <div *ngIf="tab_id === 3" id="team" role="tabpanel" aria-labelledby="team-tab"> 

              <br>
              <div class="">

                <div class="table-responsive">
                  <div style="float: right;">          
                    <!-- <button class="btn btn-outline-success btn-sm" data-toggle="modal" (click)="addClientTeam.show();" data-target="#addClientTeam">
                      <span class="fa fa-fw fa-plus"></span> Add Team
                    </button> -->
      
                    <!-- <button class="btn btn-outline-grey btn-sm" (click)="onRefreshTeamList()">
                      <span class="fa fa-fw fa-refresh"></span> Refresh List
                    </button> -->
                  </div>
                  <br>
                  <table id="viewlist-teams" class="table table-striped table-no-bordered table-hover">
                    <thead>
                      <tr>
                          <th class="text-center">Team Name</th>
                          <th class="text-center">Team Code</th>
                          <th class="text-center">Location</th>
                          <th class="text-center">Description</th>
                          <th class="text-center">Date Created</th>
                          <th class="text-center">Date Modified</th>
                          <th class="text-center">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let _team of _teams" id="{{ _team.id }}">
                          <td>
                            <span class="fa fa-fw fa-cubes" style="color: #DE7431"></span>
                            {{ _team.team_name }}
                          </td>
                          <td>{{ _team.team_code }}</td>
                          <td>{{ _team.location }}</td>
                          <td>{{ _team.description }}</td>
                          <td class="text-center" title="{{ _team.created_at | utcLocal | date: 'EEE MMMM dd, y  hh:mm:ss a' }}">{{ _team.created_at | utcLocal | date :  "y/MM/dd" }}</td>
                          <td class="text-center" title="{{ _team.updated_at | utcLocal | date: 'EEE MMMM dd, y  hh:mm:ss a' }}">{{ _team.updated_at | utcLocal | date :  "y/MM/dd" }}</td>
                          <td class="text-center">
                            <!-- <button class="btn btn-sm btn-outline-primary" (click)="onEditRecord( _team.id )">
                              <span class="fa fa-fw fa-edit"></span> Edit
                            </button>
                            <button class="btn btn-sm btn-danger" (click)="onDelRecord(_team.id, _team.team_name, _team.team_code, _team.location)">
                              <span class="fa fa-fw fa-archive"></span> Archive
                            </button> -->
                          </td>
                        </tr>
                      <tr *ngIf="_teams.length === 0">
                        <td colspan="1000" class="no-data-available">No records found so far.</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <ngx-loading [show]="loading_teams"></ngx-loading>
                <span [hidden]="!loading_teams" class="ngx-text">Working . . .</span>

              </div>
            </div>
            <!-- TEAM LIST END-->

          </div> <!-- TAB CONTENT END-->

          <ngx-loading [show]="loading"></ngx-loading>
          <span [hidden]="!loading" class="ngx-text">Fetching records . . .</span>
          
      </div>
    </div>
  </div>
</div>

<br>
  
<!-- ADD NEW CLIENT ADMIN PERMISSION -->
<div mdbModal #addClientAdmin="mdb-modal" class="modal fade" id="addClientAdmin" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content" *ngIf="_manage_client">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Add Client Admin
          <br/><small>{{ _manage_client.client_name }}</small></h4>
        <button type="button" id="btnCloseAdd" class="close" data-dismiss="modal" (click)="addClientAdmin.hide();" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body mx-1">
          
          <div class="md-form">
            Select User:
            <div [hidden]="!loading3" style="text-align: center;">
              <img src="../../../../assets/spinner.gif" alt="loading..." height="30px" width="30px">
            </div>
    
            <ng-select  [hidden]="loading3"  [(ngModel)]="_selectedUser"  id="user"  [items]="_users"  placeholder="Select User" bindLabel="full_name">
    
              <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                  <div><span></span><span [ngOptionHighlight]="search">{{item.full_name}}</span></div>
                  <small>ID: <b>{{item.id}}</b> | Employee ID: <b>{{item.user_info.employee_id}}</b> </small>
              </ng-template>

            </ng-select>

            <div *ngIf="_selectedUser" style="margin-top: 20px;">
              <table class="table table-striped table-hover text-center">
                <thead>
                  <th colspan="4" class="text-center"><b>Privileges</b></th>
                </thead>
                <thead>
                  <th>Permission</th>
                  <th><span class="fa fa-fw fa-pencil"></span> Edit Access</th>
                </thead>
                <tbody>
                  <tr>
                    <th>Manage Client Info</th>
                    <td>
                      <div class="form-check form-check-inline">
                        <label class="switch" style="top: 0;">
                          <input class="form-check-input" type="checkbox" name="chkManageInfo" id="chkManageInfo" value="0">
                          <span class="slider round"></span>
                        </label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th>Manage LOBs</th>
                    <td>
                      <div class="form-check form-check-inline">
                        <label class="switch" style="top: 0;">
                          <input class="form-check-input" type="checkbox" name="chkManageLOB" id="chkManageLOB" value="0">
                          <span class="slider round"></span>
                        </label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th>Manage Forms</th>
                    <td>
                      <div class="form-check form-check-inline">
                        <label class="switch" style="top: 0;">
                          <input class="form-check-input" type="checkbox" name="chkManageForms" id="chkManageForms" value="0">
                          <span class="slider round"></span>
                        </label>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
      </div>

      <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="btn btn-md btn-success relative waves-light" mdbWavesEffect (click)="onSaveClientAdmin()">
          <i class="fa fa-save ml-1"></i>
          Save record
        </button>
        <button type="button" class="btn btn-md btn-outline-grey waves-light" aria-label="Close" (click)="addClientAdmin.hide()" id="btnCloseClientAdminAdd" mdbWavesEffect>
          <i class="fa fa-times ml-1"></i>
          Close
        </button>
      </div>

      <ngx-loading [show]="loading2"></ngx-loading>
      <span [hidden]="!loading2" class="ngx-text">Fetching records . . .</span>

    </div>
  </div>
</div>


<!-- ADD NEW TEAM -->
<div mdbModal #addClientTeam="mdb-modal" class="modal fade" id="addClientTeam" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content" *ngIf="_manage_client">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Add Client Admin
          <br/><small>{{ _manage_client.client_name }}</small></h4>
        <button type="button" id="btnCloseAdd" class="close" data-dismiss="modal" (click)="addClientTeam.hide();" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body mx-1">
          
          <div class="md-form">
            Select User:
            <div [hidden]="!loading3" style="text-align: center;">
              <img src="../../../../assets/spinner.gif" alt="loading..." height="30px" width="30px">
            </div>
    
            <ng-select  [hidden]="loading3"  [(ngModel)]="_selectedUser"  id="user"  [items]="_users"  placeholder="Select User" bindLabel="full_name">
    
              <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                  <div><span></span><span [ngOptionHighlight]="search">{{item.full_name}}</span></div>
                  <small>ID: <b>{{item.id}}</b> | Employee ID: <b>{{item.user_info.employee_id}}</b> </small>
              </ng-template>

            </ng-select>

            <div *ngIf="_selectedUser" style="margin-top: 20px;">
              <table class="table table-striped table-hover text-center">
                <thead>
                  <th colspan="4" class="text-center"><b>Privileges</b></th>
                </thead>
                <thead>
                  <th>Permission</th>
                  <th><span class="fa fa-fw fa-pencil"></span> Edit Access</th>
                </thead>
                <tbody>
                  <tr>
                    <th>Manage Client Info</th>
                    <td>
                      <div class="form-check form-check-inline">
                        <label class="switch" style="top: 0;">
                          <input class="form-check-input" type="checkbox" name="chkManageInfo" id="chkManageInfo" value="0">
                          <span class="slider round"></span>
                        </label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th>Manage LOBs</th>
                    <td>
                      <div class="form-check form-check-inline">
                        <label class="switch" style="top: 0;">
                          <input class="form-check-input" type="checkbox" name="chkManageLOB" id="chkManageLOB" value="0">
                          <span class="slider round"></span>
                        </label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th>Manage Forms</th>
                    <td>
                      <div class="form-check form-check-inline">
                        <label class="switch" style="top: 0;">
                          <input class="form-check-input" type="checkbox" name="chkManageForms" id="chkManageForms" value="0">
                          <span class="slider round"></span>
                        </label>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
      </div>

      <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="btn btn-md btn-success relative waves-light" mdbWavesEffect (click)="onSaveClientAdmin()">
          <i class="fa fa-save ml-1"></i>
          Save record
        </button>
        <button type="button" class="btn btn-md btn-outline-grey waves-light" aria-label="Close" (click)="addClientTeam.hide()" id="btnCloseClientAdminAdd" mdbWavesEffect>
          <i class="fa fa-times ml-1"></i>
          Close
        </button>
      </div>

      <ngx-loading [show]="loading2"></ngx-loading>
      <span [hidden]="!loading2" class="ngx-text">Fetching records . . .</span>

    </div>
  </div>
</div>


<!-- ADD LOB USER PERMISSION -->
<div mdbModal #addLobUser="mdb-modal" class="modal fade" id="addLobUser" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content" *ngIf="_manage_client">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Add LOB User
          <!-- <br/> -->
          <!-- <small>{{ _manage_client.client_name }}</small> -->
          <br/>
          <small *ngIf="_current_lob">
            {{ _current_lob.lob_name }} 
          </small>
        </h4>
        <button type="button" id="btnCloseAddLobUser" class="close" data-dismiss="modal" (click)="addLobUser.hide();" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body mx-1">
          
          <div class="md-form">
            Select User:
            <div [hidden]="!loading3" style="text-align: center;">
              <img src="../../../../assets/spinner.gif" alt="loading..." height="30px" width="30px">
            </div>
    
            <ng-select  [hidden]="loading3"  [(ngModel)]="_selectedUser"  id="user"  [items]="_users"  placeholder="Select User" bindLabel="full_name">
    
              <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                  <div><span></span><span [ngOptionHighlight]="search">{{item.full_name}}</span></div>
                  <small>ID: <b>{{item.id}}</b> | Employee ID: <b>{{item.user_info.employee_id}}</b> </small>
              </ng-template>

            </ng-select>

            <div *ngIf="_selectedUser" style="margin-top: 20px;">
              <table class="table table-striped table-hover text-center">
                <thead>
                  <th colspan="4" class="text-center"><b>Privileges</b></th>
                </thead>
                <thead>
                  <th>Permission</th>
                  <th><span class="fa fa-fw fa-pencil"></span> Edit Access</th>
                </thead>
                <tbody>
                  <tr>
                    <th>Manage Forms</th>
                    <td>
                      <div class="form-check form-check-inline">
                        <label class="switch" style="top: 0;">
                          <input class="form-check-input" type="checkbox" name="chkLobManageForms" id="chkLobManageForms" value="0">
                          <span class="slider round"></span>
                        </label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th>Add New Form</th>
                    <td>
                      <div class="form-check form-check-inline">
                        <label class="switch" style="top: 0;">
                          <input class="form-check-input" type="checkbox" name="chkAddNewForm" id="chkAddNewForm" value="0">
                          <span class="slider round"></span>
                        </label>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
      </div>

      <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="btn btn-md btn-success relative waves-light" mdbWavesEffect (click)="onSaveLobUser()">
          <i class="fa fa-save ml-1"></i>
          Save record
        </button>
        <button type="button" class="btn btn-md btn-outline-grey waves-light" aria-label="Close" (click)="addLobUser.hide()" id="btnCloseLobUserAdd" mdbWavesEffect>
          <i class="fa fa-times ml-1"></i>
          Close
        </button>
      </div>

      <ngx-loading [show]="loading2"></ngx-loading>
      <span [hidden]="!loading2" class="ngx-text">Fetching records . . .</span>

    </div>
  </div>
</div>


<!-- ADD LOB MODAL FORM -->
<div mdbModal #addLobRecord="mdb-modal" class="modal fade" id="addLobRecord" tabindex="-1" style="overflow: auto">
  <div class="modal-dialog" role="document">
    <div class="modal-content" *ngIf="_manage_client">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Add Line of Business
          <br/><small>{{ _manage_client.client_name }}</small>
        </h4>

        <button type="button" id="btnCloseAddLob" class="close" data-dismiss="modal" (click)="addLobRecord.hide();" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body mx-1">    
        <div class="md-form">
          <span>LOB Name</span>
          <input class="input validate" type="text" name="lob_name" id="lob_name" placeholder="(e.g. Sales, Development, Training)">
        </div>

        <div class="md-form">
          <span>Description</span>
          <input class="input validate" type="text" name="description" id="description">
        </div>

      </div>

      <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="btn btn-md btn-success relative waves-light" mdbWavesEffect (click)="onSaveLobRecord()">
          <i class="fa fa-fw fa-save ml-1"></i>
          Save Record
        </button>
        <button type="button" class="btn btn-md btn-outline-grey waves-light" aria-label="Close" (click)="addLobRecord.hide();" mdbWavesEffect>
          <i class="fa fa-fw fa-times ml-1"></i>
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- EDIT CLIENT -->
<button [hidden]="true" id="btnEditRecord" data-toggle="modal" (click)="editRecord.show()" data-target="#editRecord"></button>

<div mdbModal #editRecord="mdb-modal" class="modal fade" id="editRecord" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Edit Client</h4>
        <button type="button" id="btnCloseEditClient" class="close" data-dismiss="modal" (click)="editRecord.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body mx-1">

          <div style="display: block; text-align: center">
            <img  id="edit_img_client" style="height: 100px; width: 100px; margin-right: 10px;">
          </div>

          <div class="md-form">
            <span class="grey-text">Client ID</span>
            <input type="text" id="edit_id" class=" validate" disabled>
          </div>

          <div class="md-form">
            <span class="grey-text">Client Name</span>
            <input type="text" id="edit_client_name" class="validate">
          </div>

          <div class="md-form">
            <span class="grey-text">Description</span>
            <input type="text" id="edit_description" class="validate">
          </div>

          <div>
            <span class="grey-text">Select a logo: (accepts: PNG, JPG, GIF)</span> <br/>
              <label for="edit_logo" class="btn btn-xs btn-outline-default">
                  <span class="fa fa-fw fa-upload"></span> <span>Choose a logo&hellip;</span>
              </label>
              <input type="file" id="edit_logo" (change)="onFileSelected($event)" />
          </div>

          <div class="md-form">
            <span class="grey-text">Created by:</span>
            <input type="text" id="edit_created_by" class=" validate" disabled>
          </div>

          <div class="md-form">
            <span class="grey-text">Created:</span>
            <input type="text" id="edit_created_at" class=" validate" disabled>
          </div>

          <div class="md-form">
            <span class="grey-text">Modifed:</span>
            <input type="text" id="edit_modified_at" class=" validate" disabled>
          </div>

      </div>

      <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="btn btn-md btn-success relative waves-light" mdbWavesEffect (click)="onUpdateClientInfo()">
          <i class="fa fa-save ml-1"></i>
          Update
        </button>
        <button type="button" class="btn btn-md btn-outline-grey waves-light" aria-label="Close" (click)="editRecord.hide()" mdbWavesEffect>
          <i class="fa fa-times ml-1"></i>
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- EDIT LOB MODAL FORM -->
<button [hidden]="true" id="btnEditLobRecord" data-toggle="modal" (click)="editLobRecord.show()" data-target="#editLobRecord"></button>

<div mdbModal #editLobRecord="mdb-modal" class="modal fade" id="editLobRecord" tabindex="-1" style="overflow: auto">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Update Line of Business</h4>
        <button type="button" id="btnCloseEditLob" class="close" data-dismiss="modal" (click)="editLobRecord.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body mx-1">

        <div class="md-form">
          <span class="grey-text">LOB Name</span>
          <input class="input validate" type="text" name="edit_lob_name" id="edit_lob_name" placeholder="(e.g. Sales, Development, Training)">
        </div>

        <div class="md-form">
          <span class="grey-text">Description</span>
          <input class="input validate" type="text" name="edit_lob_description" id="edit_lob_description">
        </div>

      </div>

      <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="btn btn-md btn-success relative waves-light" mdbWavesEffect (click)="onUpdateRecord(_lob.id)">
          <i class="fa fa-fw fa-save ml-1"></i>
          Save Record
        </button>
        <button type="button" class="btn btn-md btn-outline-grey waves-light" aria-label="Close" (click)="editLobRecord.hide();" mdbWavesEffect>
          <i class="fa fa-fw fa-times ml-1"></i>
          Close
        </button>
      </div>
    </div>
  </div>
</div>