.form-location {
    padding: 2px;
    margin: 0;
    border: solid #2ea4e43c 1px;
    background-color: #20acf83c;
    width: 100%;
    font-size: 12px;
    margin-bottom: 10px;
}

.form-info {
    // padding: 5px;
    margin: 0;
    font-size: 12px;
}

.active {
    padding: 3px 0 3px 5px;
    margin: 0;
    font-size: 12px;
    display: block;
    background-color: #DE7431;
    border-radius: 5px 0 0 5px;
    color: white;
}

.form-gen-info {
    border-bottom: solid rgba(103, 103, 103, 0.133) 1px;
    font-weight: bold;
}

.col-3 li {
    padding: 3px 0 3px 8px;
    margin: 0;
    font-size: 12px;
    display: block;
}

.add-field {
    padding: 3px 0 3px 8px;
    margin: 0;
    font-size: 12px;
    display: block;
    // background-color: rgb(44, 189, 44);
    border-radius: 5px 0 0 5px;
    // color: white;
}

.col-3 {
    padding-right: 0;
}

.col-3 li:hover {
    background-color:#efb4887d;
    border-radius: 5px 0 0 5px;
    color: rgb(3, 58, 100);
}

.col-9 {
    border-left: solid #DE7431 1px;
    padding-left: 3px;
}

table {
    width: 100%;
}

.field-label {
    font-weight: bold;
}

.field-description {
    margin-bottom: 5px;
}

.heading-text {
    font-weight: bold;
    font-size: 16px;
    background-color: #DE7431;
    color: white;
    margin-bottom: 10px;
    padding: 3px 8px 3px 8px;
    border-radius: 0 5px 5px 0;
}

.cool-link:hover {
    cursor: pointer;
    color: #DE7431;
}

.cool-link a {
    color: black;
    margin-right: 10px;
    padding: 5px;
    border: solid #ffffff 1px;
}

.cool-link {
    display: inline-block;
    color: #000;
    text-decoration: none;
    padding: 5px;
    margin-right: 5px;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #DE7431;
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
}