<!-- FORM MENU HEADER -->
<div class="menu" [@enterAnimation]>

    <span class="menu-item" *ngIf="!newForm">
        <a routerLink="/home" class="cool-link">
            <span class="fa fa-fw fa-home"></span> Home
        </a>
    </span>

    <span class="menu-item" *ngIf="!newForm && client">
        <span class="fa fa-fw fa-caret-right"></span>
        <img *ngIf="client.logo" src="{{ _api_endpoint }}{{ client.logo }}" height="20px" width="20px">
        <a routerLink="/home/{{ client.id }}" class="cool-link">
            {{ client.client_name }}
        </a>
    </span>

    <span class="menu-item" *ngIf="!newForm">
        <span class="fa fa-fw fa-caret-right"></span>
        <a routerLinkActive="menu_active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/form/{{ form_id }}" class="cool-link" title="{{ form !== null ? form.form_name : '' }} Form">
        <!-- <span class="fa fa-fw fa-plus"></span> Add new -->
        <span class="fa fa-fw fa-file-text"></span> {{ form !== null ? form.form_name : '' }}
        </a>
    </span> 
    <span class="menu-item" *ngIf="!newForm && formPermissions['DefaultView']">
        <a routerLinkActive="menu_active" routerLink="view_list" class="cool-link">
            <span class="fa fa-fw fa-list"></span> Record List
        </a>
    </span>
    <span class="menu-item" *ngIf="!newForm && formPermissions['ExportAdd']">
        <a routerLinkActive="menu_active" routerLink="export" class="cool-link">
            <span class="fa fa-fw fa-download"></span> Export
        </a>
    </span>
    <!-- <span class="menu-item" *ngIf="!newForm">
        <a routerLinkActive="menu_active" routerLink="template" class="cool-link">
            <span class="fa fa-fw fa-file"></span> Template
        </a>
    </span>
    <span class="menu-item" *ngIf="!newForm">
        <a routerLinkActive="menu_active" routerLink="upload_delete" class="cool-link">
            <span class="fa fa-fw fa-trash"></span> Upload Delete
        </a>
    </span> -->
    <span class="menu-item" *ngIf="newForm || formPermissions['FormEdit']">
        <a *ngIf="!newForm" routerLinkActive="menu_active" routerLink="settings/details" class="cool-link">
            <span class="fa fa-fw fa-cogs"></span> Settings
        </a>
        
        <a *ngIf="newForm" routerLinkActive="menu_active" class="cool-link">
            <span class="fa fa-fw fa-cogs"></span> Settings
        </a>
    </span>
    <span class="menu-item" *ngIf="!newForm && formPermissions['PermissionAdd']">
        <a routerLinkActive="menu_active" routerLink="permission" class="cool-link">
        <span class="fa fa-fw fa-unlock-alt"></span> Permissions
        </a>
    </span>

    <span class="menu-item" *ngIf="!newForm" style="float: right;" title="Close this form">
        <a routerLinkActive="menu_active" routerLink="{{ client ? '/home/' + client.id : '/home' }}" class="cool-link">
            <span class="fa fa-fw fa-times"></span>
        </a>
    </span>
    
    <span class="menu-item" *ngIf="!newForm" style="float: right;" title="Refresh form permissions">
        <div [hidden]="!loading">
            <img src="../../../../assets/spinner.gif" alt="loading..." height="30px" width="30px">
        </div>
        <a [hidden]="loading" (click)="onRefreshForm()" class="cool-link">
            <span class="fa fa-fw fa-refresh"></span>
        </a>
    </span>
    
</div>

<router-outlet></router-outlet>


<!-- footer -->
<!-- <div class="pgfooter"> 
    &lt;/&gt; with <span class="fa fa-heart" style="color: rgba(255, 0, 0, 0.287);"></span> by Connext Global Solutions. |
    <span class="fa fa-code-fork" style="color: rgba(10, 43, 92, 0.767);"></span> Build version: {{ app_version }} |
    &copy; All rights reserved.
</div> -->