.heading {
    padding-top: 20px;
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: solid #5352524b 1px;
    font-size: 20px;
}

.card {
    background: transparent;
    border-radius: 20px;
    // border: none;
}

.form_link:hover {
    background-color: #efb4887d;
    color: white;
    transition: 0.5s;
}

.form_link:hover a, 
.form_link:hover .file-name,
.form_link:hover .lob-name,
.form_link:hover .author-name,
.form_link:hover .client-name {
    color: white;
    transition: 0.5s;
}

.form_link:hover img {
    -webkit-filter: opacity(100%); /* Safari 6.0 - 9.0 */
    filter: opacity(100%);
    transition: 0.5s;
}

.form_link img {
    -webkit-filter: opacity(75%); /* Safari 6.0 - 9.0 */
    filter: opacity(75%);
    transition: 0.5s;
}

.active_client {
    background-color: #2196F3;
    color: white;
}

.refresh:hover {
    color: #DE7431;
}

.form-icon {
    height: 80px;
    width: 70px;
    float: left;
    margin-left: 5px;
}

.form_link .file-name {
    font-size: 15px; 
    font-weight: bold;
    color: #DE7431;
    margin: 0;
    padding-top: 8px;
    overflow: hidden; 
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 10px;
}

.form_link .lob-name {
    font-size: 9px; 
    margin: 0;
    color: gray;
    overflow: hidden; 
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 10px;
}

.form_link .client-name {
    font-size: 9px; 
    color: gray;
    margin: 0;
    overflow: hidden; 
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 10px;
}

.form_link .author-name {
    font-size: 9px; 
    color: gray;
    margin: 0;
    overflow: hidden; 
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 10px;
}

.col-sm-6, .col-md-4, .col-lg-3, .col-xl-2 {
    padding-left: 5px;
    padding-right: 5px;
}

.client-logo {
    height: 45px;
    width: 45px; 
    float: left; 
    margin-right: 5px;
}

.client-name-title {
    font-size: 15px; 
    font-weight: bold;
    color: #DE7431;
    margin: 0;
    padding-top: 3px;
    overflow: hidden; 
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 10px;
}

.client-description {
    font-size: 9px; 
    margin: 0;
    color: gray;
    overflow: hidden; 
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 10px;
}

.client_link:hover {
    background-color: #efb4887d;
    transition: 0.5s;
}

.client_link:hover .client-description,
.client_link:hover .client-name-title {
    color: white;
}

.lob-name-title {
    font-size: 14px; 
    font-weight: bold;
    color: rgb(173, 175, 176);
    margin: 0;
    padding-top: 8px;
    overflow: hidden; 
    white-space: nowrap;
    text-overflow: ellipsis;
    left: -5px;
    // border-bottom: 1px solid gray;
    margin-bottom: 10px;
}

.lob-name-title-div {
    padding-left: 5px;
}

.col {
    padding-left: 5px;
}

.no-form {
    margin-top: 12px;
    text-align: center;
    color: rgba(128, 128, 128, 0.417);
}