.dash-box {
    min-height: 20px;
    padding: 5px;
    border: 1px solid #DDDDDD;
    padding-left: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.stat-count {     /* Dashboard displays */
    font-size: 40px;
}
.stat-details {
    font-size: 12px;
    padding-bottom: 10px;
}