<div class="accordion" id="accordionExample" [@enterAnimation]>
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <span class="fa fa-fw fa-refresh"></span> Sync Users <small> - Connect Cloudstaff API Endpoint</small>
            </h5>
        </div>

        <div class="card">
            <div class="card-body">
                <button class="btn btn-sm btn-outline-green" (click)="onSyncUsers()"><span class="fa fa-refresh"></span> Start Sync</button>
            
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">By clicking the <b>Start Sync</b> button, the system will: </li>
                    <li class="list-group-item"><span class="fa fa-caret-right fa-fw"></span>Automatically detect all existing and new entires</li>
                    <li class="list-group-item"><span class="fa fa-caret-right fa-fw"></span>If error occured, data might not be completed, please re-run the sync</li>
                    <li class="list-group-item"><span class="fa fa-caret-right fa-fw"></span>You can verify the list by searching the User lists <a routerLink="/admin/user/list" class="cool-link">here</a></li>
                    <li class="list-group-item"><span class="fa fa-caret-right fa-fw"></span>Running sync can be done every once in a while.</li>
                    <li class="list-group-item"><span class="fa fa-caret-right fa-fw"></span>Run sync to pull data when new employee is recently added.</li>
                </ul>

                <ngx-loading [show]="loading"></ngx-loading>
                <span [hidden]="!loading" class="ngx-text">Syncing records from CS API. Please wait...</span>
            </div>
        </div>
    </div>
</div>
<br>


