<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

<div class="limiter">
  <div class="container-login">
    <div class="wrap-login">
        <span class="login-form-title p-b-26">  
          <!-- QA GOLD -->
          <img src="../../assets/logo.png" alt="QA Gold Logo" style="margin-bottom: 20px; height: 130px; width: 150px;">
        </span>

        <div class="alert alert-danger fade show mb-3 mt-2" role="alert">
          <strong>Unable to login!</strong> Invalid account or unauthorized login method. Kindly contact QA Gold administrators if you think this is wrong.
        </div>

    </div>
  </div>
</div>
