<div class="accordion" id="accordionExample" [@enterAnimation]>
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
          <span class="fa fa-fw fa-archive"></span> Archived Lines of Business <small> - Hidden LOB Collections</small>

          <button class="btn btn-blue-grey btn-sm" (click)="onRefreshRecords()" style="float: right;">
            <span class="fa fa-refresh"></span> Refresh List
          </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body" style="min-height: 200px;">
        
        <div class="table-responsive">
          <table id="viewlist-table" class="table table-striped table-no-bordered table-hover">
            <thead>
              <tr>
                <th class="text-center">ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Client</th>
                <th>Author</th>
                <th>Deleted</th>
                <th class="text-center">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let _lob of _archived_lobs" id="{{ _lob.id }}">
                <td class="text-center">{{ _lob.id }}</td>
                <td>{{ _lob.lob_name }}</td>
                <td>{{ _lob.description }}</td>
                <td>{{ _lob.client ? _lob.client.client_name : '' }}</td>
                <td>{{ _lob.creator ? _lob.creator.first_name : '' }} {{ _lob.creator ? _lob.creator.last_name : '-' }}</td>
                <td class="text-center" title="{{ _lob.created_at | utcLocal | date: 'EEE MMMM dd, y  hh:mm:ss a' }}">{{ _lob.created_at | utcLocal | date :  "y/MM/dd" }}</td>
                <td class="text-center">
                  <button class="btn btn-sm btn-warning" (click)="onRestoreRecord( _lob.id )">
                    <span class="fa fa-fw fa-undo"></span> Restore
                  </button>
                </td>
              </tr>
              <tr *ngIf="_archived_lobs == 0">
                <td colspan="1000" class="no-data-available">No records found so far.</td>
              </tr>
            </tbody>
          </table>
        </div>
        <ngx-loading [show]="loading"></ngx-loading>
        <span [hidden]="!loading" class="ngx-text">Fetching records . . .</span>

        <!-- SHOW THIS DIV WHEN NO RECORD FOUND INSTEAD OF AN EMPTY TABLE -->
        <div *ngIf="_archived_lobs == 0" class="text-center" >
            <p class="no_record">
                <i class="fa fa-exclamation"></i>
                {{ no_record_message }}
            </p>
        </div>

      </div>
    </div>
  </div>
</div>
<br>


