.heading {
    padding-top: 20px;
    padding-bottom: 5px;
    margin-bottom: 15px;
    // border-bottom: solid #5352524b 1px;
    font-size: 20px;
}

// custom info box
.info-box {
    display: block;
    min-height: 60px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 2px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.info-box-icon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 60px;
    width: 60px;
    text-align: center;
    font-size: 25px;
    line-height: 60px;
    color: white;
    background: rgba(0,0,0,0.2);
    border-radius: 5px 0 0 5px;
}

.info-box-content {
    padding: 5px 10px;
    margin-left: 60px;
}

.info-box-text {
    text-transform: uppercase;
}

.info-box-number {
    display: block;
    font-weight: bold;
    font-size: 18px;
}

// --

.card-small {
    padding: 10px;
}

.form_link:hover, .form_link:hover a {
    background-color: #efb4887d;
    color: white;
    transition: 0.5s;
}

a {
    color: black;
}

a:hover {
    color: #DE7431;
}

// .menu {
//     padding-top: 20px;
//     padding-bottom: 5px;
//     margin-bottom: 15px;
//     border-bottom: solid #5352524b 1px;
//     font-size: 14px;
// }

// .cool-link:hover {
//     cursor: pointer;
//     color: rgb(8, 108, 151);
// }

// .cool-link a {
//     color: black;
//     margin-right: 10px;
//     padding: 5px;
//     border: solid #ffffff 1px;
// }

// .cool-link {
//     display: inline-block;
//     color: #000;
//     text-decoration: none;
//     padding: 5px;
//     margin-right: 5px;
// }

// .cool-link::after {
//     content: '';
//     display: block;
//     width: 0;
//     height: 2px;
//     background: rgb(8, 108, 151);
//     transition: width .3s;
// }

// .cool-link:hover::after {
//     width: 100%;
// }

.dash-box {
    min-height: 20px;
    padding: 5px;
    // border: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    padding-left: 10px;
    margin-bottom: 5px;
}

.stat-count {     /* Dashboard displays */
    font-size: 40px;
}
.stat-details {
    font-size: 12px;
    padding-bottom: 10px;
}

section {
    padding-top: 20px;
}
