<!-- <section id="main"> -->
<div [@enterAnimation]>
    <div class="heading">
        <span class="fa fa-fw fa-tachometer mr-1"></span> Dashboard <small>Version 1.0.0 | Build #0001</small>
        <span class="menu-item" style="float: right;" title="Refresh Dashboard">
            <div [hidden]="!loading3">
                <img src="../../../../assets/spinner.gif" alt="loading..." height="30px" width="30px">
            </div>
            <a [hidden]="loading3" (click)="onRefresh()" class="cool-link">
                <span class="fa fa-fw fa-refresh"></span>
            </a>
        </span>
    </div>


    <!-- OVERVIEW -->
    <div class="row">
        <div *ngFor="let overview of _quick_overview" class="col col-xs-12 col-sm-6 col-xl-3 pb-2">
            <div class="info-box">
                <span class="info-box-icon bg-{{ overview.color }}"><i class="fa {{ overview.icon }}"></i></span>
                <div class="info-box-content bg-light-{{ overview.color }}">
                    <span class="info-box-text">{{ overview.name }}</span>
                    <span class="info-box-number">{{ overview.count }}</span>
                </div>
            </div>
        </div>
    </div>
    
    <!-- USER STATS OVERVIEW -->
    <div class="row">
        <div class="col">
            <div class="card card-primary">
                <div class="card-header bg-green">
                    <h5 class="mb-0" style="color: white;">
                        <span class="fa fa-users fa-fw"></span> Users
                    </h5>
                </div>
                <div class="card-body" style="min-height: 150px;;">
                    <div *ngFor="let overview of _user_overview">
                        <div class="">
                            <div style="font-size: 14px;">
                                <span class="fa {{ overview.icon }} fa-fw"></span> {{ overview.name }}: 
                                <a [routerLink]="overview.link" class="btn btn-xs btn-outline-{{ overview.color }}">
                                    <span class="fa fa-arrow-circle-right fa-fw"></span> {{ overview.count }} 
                                </a>
                            </div>
                        </div>
                    </div>
                    
                    <ngx-loading [show]="loading"></ngx-loading>
                    <span [hidden]="!loading" class="ngx-text">Fetching statistics . . .</span>
                </div> <!-- card-body -->
            </div> <!-- card -->
        </div>

        <div class="col">
            <div class="card card-success">
                <div class="card-header bg-purple">
                    <h5 class="mb-0" style="color: white;">
                        <span class="fa fa-pie-chart fa-fw"></span> Teams
                    </h5>
                </div>
                <div class="card-body" style="min-height: 150px;;">
                    <div *ngFor="let overview of _team_overview">
                        <div class="">
                            <div style="font-size: 14px;">
                                <span class="fa {{ overview.icon }} fa-fw"></span> {{ overview.name }}: 
                                <a [routerLink]="overview.link" class="btn btn-xs btn-outline-{{ overview.color }}">
                                    <span class="fa fa-arrow-circle-right fa-fw"></span> {{ overview.count }} 
                                </a>
                            </div>
                        </div>
                    </div>

                    <ngx-loading [show]="loading"></ngx-loading>
                    <span [hidden]="!loading" class="ngx-text">Fetching statistics . . .</span>
                </div> <!-- card-body -->
            </div> <!-- card -->
        </div>

    </div>

    <br>

    <div class="accordion" id="accordionExample">
        <div class="row">
            <div class="col  col-lg-3">
                <div class="card card-success">
                    <div class="card-header bg-blue">
                        <h5 class="mb-0" style="color: white;">
                            <span class="fa fa-newspaper-o fa-fw"></span> Clients
                        </h5>
                    </div>
                    <div class="card-body" style="min-height: 150px;;">
                        <div *ngFor="let overview of _client_overview">
                            <div class="">
                                <div style="font-size: 14px;">
                                    <span class="fa {{ overview.icon }} fa-fw"></span> {{ overview.name }}: 
                                    <a [routerLink]="overview.link" class="btn btn-xs btn-outline-{{ overview.color }}">
                                        <span class="fa fa-arrow-circle-right fa-fw"></span> {{ overview.count }} 
                                    </a>
                                </div>
                            </div>
                        </div>
    
                        <ngx-loading [show]="loading"></ngx-loading>
                        <span [hidden]="!loading" class="ngx-text">Fetching statistics . . .</span>
                    </div> <!-- card-body -->
                </div> <!-- card -->
            </div>

            <div class="col col-lg-9">
                <div class="card">
                    <div class="card-header bg-blue" id="headingOne">
                        <h5 class="mb-0" style="color: white;">
                            <i class="fa fa-newspaper-o"></i> Recently Added Clients
                        </h5>
                    </div>
                
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body" style="min-height: 200px;">
                            
                            <div class="row" *ngIf="clients != 0">
                                <div class="col" style="display: inline-block;">
                                    <input type="text" [(ngModel)]="searchText" id="searchText" placeholder="enter client name" style="max-width: 250px;">
                                </div>
                            </div>
                            <br>
                            <div class="row" *ngIf="clients != 0">
                                <div *ngFor="let _client of clients | filter: searchText" class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 pb-2">
                                    <a routerLink="client/list/{{ _client.id }}">
                                        <div class="card card-outline-info card-small form_link" id="{{ _client.id }}Panel" style="padding: 0;">
                                            <div class="card-block" style="padding: 10px;">
                                                <img src="{{ _client.logo ? _api_endpoint + _client.logo : '../../../assets/no_img.png'  }}" style="height: 45px; width: 45px; float: left; margin-right: 5px;">
                                                <p style="font-size: 14px; font-weight: 400; color: rgb(0, 0, 0); margin: 0; margin-top: 5px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">{{ _client.client_name }} </p>
                                                <p style="font-size: 12px; color: gray; margin: 0; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">{{ _client.description }}</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <!-- SHOW THIS DIV WHEN NO RECORD FOUND INSTEAD OF AN EMPTY TABLE -->
                            <div *ngIf="clients == 0" class="text-center" >
                                <p class="no_record">
                                    <i class="fa fa-exclamation"></i>
                                    {{ no_record_message }}
                                </p>
                            </div>

                        </div>
                        <ngx-loading [show]="loading_clients"></ngx-loading>
                        <span [hidden]="!loading_clients" class="ngx-text">Fetching records . . .</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <br>

</div>
<!-- </section> -->
